body {
    text-align:center;
    background-color:#8cff66
}

h1 {
    font-family:"Lucida Console";
    color: white;
    font-size:48px;
}

h2 {
    font-family:"Lucida Console";
    color: white;
    font-size:36px;
}

p {
    font-family:"Lucida Console";
    color: #8cff66;
    font-size:24px;
}

.button {
    margin:0 auto;
    height:100px;
    width:220px;
    padding-top:25px;
    border-radius:10%;
    background-color:white;
}
